<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Users</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script></head>
<style>
    .login-form {
        width:540px;
        margin: 50px auto;
    }
    .login-form form {
        width:400px;
        margin-bottom: 15px;
        background: #0987c1;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }
    .login-form h2 {
        margin: 0 0 15px;
    }
    .btn {
        font-size: 15px;
        font-weight:normal;
    }
    /*. {*/
    /*    padding-left: 500px;*/
    /*    color: #4b4bb4;*/
    /*}*/
    .btn-log{
        margin-left: 1200px;
         margin-bottom: 20px;
        background-color: #198286;
        font-weight: bold;

    }
</style>
</head>
<body>
<div class="login-form  ">
    <form id="create-user" >
        <input  id="name7" type="text">  Name
        <br>
        <br>
        <input id="age7" type="text">  Age
        <br>
        <br>
        <input id="password7" type="text">  Password
        <br>
        <br>
        <input id="department7" type="text">  Department
        <br>
        <br>
        <input id="salary7" type="text">  Salary
        <div>
            <input type="checkbox" id="user-role" value="ROLE_USER">
            <label for="user-role">ROLE_USER</label>
        </div>
        <div>
            <input type="checkbox" id="admin-role" value="ROLE_ADMIN">
            <label for="admin-role">ROLE_ADMIN</label>
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>
<table id="table-id"  class="table table-success table-striped table-hover table-bordered border-primary  ">
    <tr>
        <th> Id </th>
        <th> Name </th>
        <th> Age </th>
        <th> Password </th>
        <th> Department </th>
        <th> Salary </th>
        <th> Roles </th>
        <th> Operations</th>
    </tr>
</table>
<div id="create-button"></div>
<div class="login-form">
    <div id="update-user-id" class="table-bordered border-primary table-hover"></div>
</div>
<a href="/logout"><button type="button" class= "btn-log">Logout</button></a>
<script>
    let url2 = 'http://localhost:8080';

    const  creator = document.getElementById('create-user');
    creator.addEventListener('submit', async function (event) {

        event.preventDefault();
        let name = document.getElementById('name7').value;
        let age = document.getElementById('age7').value;
        let password = document.getElementById('password7').value;
        let department = document.getElementById('department7').value;
        let salary = document.getElementById('salary7').value;
        let arr = [];
        if (document.getElementById('admin-role').checked) {
            let adminRole = new Object();
            adminRole.id = 2;
            arr.push(adminRole);
        }
        if (document.getElementById('user-role').checked) {
            let userRole = new Object();
            userRole.id = 1;
            arr.push(userRole);
        }
        let response = await fetch(url2 + '/create', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                name: name,
                age: age,
                password: password,
                department: department,
                salary: salary,
                roles: arr
            })
        });
        window.location.reload(true);
        let answer = response.json();
        console.log(answer)
    })


    function deleteUser(id) {
        window.location.reload(true);
        fetch(url2 + '/create/' + id, {
            method: 'DELETE'
        })
    }
    function updateSubmit() {
        let id = document.getElementById('input-id').value;
        let name = document.getElementById('input-name').value;
        let age = document.getElementById('input-age').value;
        let password = document.getElementById('input-password').value;
        let department = document.getElementById('input-department').value;
        let salary = document.getElementById('input-salary').value;
        let arr9 = [];
        if (document.getElementById('admin-role-id').checked){
            let adRole = new Object();
            adRole.id = 2;
            arr9.push(adRole);
        }
        if (document.getElementById('user-role-id').checked) {
            let usRole = new Object();
            usRole.id = 1;
            arr9.push(usRole)
        }
        fetch(url2 + '/create', {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                id: id,
                name: name,
                age: age,
                password: password,
                department: department,
                salary: salary,
                roles: arr9
            })
        });
        window.location.reload(true);
    }
    function editUser(id) {
        fetch(url2 + '/create/' + id, {
            method: 'GET'
        }).then(rer => rer.json())
            .then(obj => {
                console.log(obj)
                let output1 = `
<form id="update-form">
            <input id="input-id" type="hidden" value="${obj.id}">
            <input id="input-name" type="text" value="${obj.name}">
            <input id="input-age" type="text" value="${obj.age}">
            <input id="input-password" type="text" value="${obj.password}">
            <input id="input-department" type="text" value="${obj.department}">
            <input id="input-salary" type="text" value="${obj.salary}">
            <div>
                <input type="checkbox" id="user-role-id" value="ROLE_USER">
                <label for="user-role-id">ROLE_USER</label>
            </div>
            <div>
                <input type="checkbox" id="admin-role-id" value="ROLE_ADMIN">
                <label for="admin-role-id">ROLE_ADMIN</label>
            </div>
            <button type="button" onclick="updateSubmit()" class="btn btn-success">Update</button>
            </form>`;
                document.getElementById("update-user-id").innerHTML = output1;
            });
    }
    fetch(url2)
        .then(response => response.json())
        .then(data => {

            data.forEach(function (user){
                let ro = [];
                user.roles.map(role1 =>  {
                    ro.push(role1.role);
                })
                let output = `
                    <td> ${user.id}</td>
                    <td> ${user.name}</td>
                    <td> ${user.age}</td>
                    <td> ${user.password}</td>
                    <td> ${user.department}</td>
                    <td> ${user.salary}</td>
                    <td> ${ro}</td>
                    <td>
                        <button type="button" onclick="deleteUser(${user.id})" class="btn btn-primary active">Delete</button>
                        <button type="button" onclick="editUser(${user.id})" class="btn btn-primary active">Edit</button>
                    </td>
                 `;
                let value1 = document.createElement('tr');
                value1.innerHTML = output
                document.getElementById('table-id').append(value1)
            });

        })

</script>
</body>
<!--<body>-->
<!--<table>-->
<!--    <tr>-->
<!--        <th> Id </th>-->
<!--        <th> Name </th>-->
<!--        <th> Department </th>-->
<!--        <th> Salary </th>-->
<!--        <th> Role </th>-->
<!--        <th> Operations </th>-->
<!--    </tr>-->
<!--    <div th:each="user : ${user1}">-->
<!--        <tr>-->
<!--            <td>-->
<!--                <p th:text="${user.id}"></p>-->
<!--            </td>-->
<!--            <td>-->
<!--                <p th:text="${user.name}"></p>-->
<!--            </td>-->
<!--            <td>-->
<!--                <p th:text="${user.department}"></p>-->
<!--            </td>-->
<!--            <td>-->
<!--                <p th:text="${user.salary}"></p>-->
<!--            </td>-->
<!--            <td>-->
<!--                <p th:text="${user.roles}"></p>-->
<!--            </td>-->
<!--            <td>-->
<!--                <a th:href="@{/{id}/edit(id=${user.id})}"><input type="submit" class="btn btn danger" value="Edit"></a>-->

<!--                <a th:href="@{/delete/{id}(id=${user.id})}"><input type="submit" class="btn btn danger" value="Delete"></a>-->
<!--            </td>-->
<!--        </tr>-->
<!--    </div>-->

<!--</table>-->
<!--<a href="/new"><input type="submit" class="btn btn danger" value="Create user"></a>-->
<!--<br><br>-->
<!--<form method="get" action="/logout">-->
<!--    <button class="btn btn-primary btn-block" type="submit">Logout</button>-->
<!--</form>-->
<!--</body>-->
</html>